<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/list/annotation">
      <img src="/img/favicon_note.png" width="25" height="25" class="d-inline-block align-top">
      Noted Here // {{#each user}}{{name_user}}{{else}}{{/each}}
    </a>
    <a id="link-navbar" href="/logout">
      Sair
    </a>
  </div>
</nav>