<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/homepage">
      Noted Here
    </a>
    <a id="link-sair" href="/logout">
      Sair
    </a>
  </div>
</nav>