<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/list/annotation">
      Noted Here
    </a>
    <a id="link-navbar" href="/logout">
      Sair
    </a>
  </div>
</nav>