<div class="card">
    
    <div class="card-body">
        <h1 class="texto_principal">Anotado Aqui</h1>
        <div class="jumbotron">
            <h1 class="display-4">Olá, seja bem-vindo ao Noted Here!</h1>
            <p class="lead">Registre-se faça o seu login e gerencie suas anotações.</p>
            <hr class="my-4">
        </div>
        <div id="area-botao">
            <a href="/login">
                <button class="btn btn-success btn-lg">Login</button>
            </a>
        </div>
        <div id="area-botao">
            <a href="/registration">
                <button class="btn btn-primary btn-lg">Registro</button>
            </a>
        </div>
    </div>
</div>

