<div class="card">
    
    <div class="card-body">
        <h1 class="texto_principal">Anotações</h1>
        <div class="jumbotron">
            <h1 class="display-4">Olá, seja bem-vindo ao Sistema de Anotações!</h1>
            <p class="lead">Este é um simples site onde você usuário poderá gerenciar anotações criar, editar, apagar, listar e poderá ver anotações de outras pessoas. Registre-se e faça o login.</p>
            <hr class="my-4">
        </div>
        <div id="area-botao">
            <a href="/login">
                <button class="btn btn-success btn-lg">Login</button>
            </a>
        </div>
        <div id="area-botao">
            <a href="/registration">
                <button class="btn btn-primary btn-lg">Registro</button>
            </a>
        </div>
    </div>
</div>

