<div class="card mt-4">
    <div class="card-body">
        <h2 class="texto-principal">Sobre</h2>
        <div class="card mt-6">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero laudantium labore, aperiam nostrum blanditiis rerum perferendis nulla? Saepe nulla nesciunt maiores rerum corporis fugiat rem inventore obcaecati doloribus? Iure?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam magnam dicta, libero reprehenderit asperiores at vero eaque accusantium dolore iste ducimus natus delectus nostrum possimus minus nobis, dolores odit laboriosam.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odio non possimus, maiores ut est vitae quisquam atque inventore, quia facere rem sequi amet adipisci assumenda dolore tempore suscipit perferendis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sapiente, ab pariatur libero et non aliquam quidem maiores similique corrupti ipsa, quaerat, dolorum modi dolores facere? Labore corporis vero officia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero laudantium labore, aperiam nostrum blanditiis rerum perferendis nulla? Saepe nulla nesciunt maiores rerum corporis fugiat rem inventore obcaecati doloribus? Iure?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam magnam dicta, libero reprehenderit asperiores at vero eaque accusantium dolore iste ducimus natus delectus nostrum possimus minus nobis, dolores odit laboriosam.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odio non possimus, maiores ut est vitae quisquam atque inventore, quia facere rem sequi amet adipisci assumenda dolore tempore suscipit perferendis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sapiente, ab pariatur libero et non aliquam quidem maiores similique corrupti ipsa, quaerat, dolorum modi dolores facere? Labore corporis vero officia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero laudantium labore, aperiam nostrum blanditiis rerum perferendis nulla? Saepe nulla nesciunt maiores rerum corporis fugiat rem inventore obcaecati doloribus? Iure?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam magnam dicta, libero reprehenderit asperiores at vero eaque accusantium dolore iste ducimus natus delectus nostrum possimus minus nobis, dolores odit laboriosam.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odio non possimus, maiores ut est vitae quisquam atque inventore, quia facere rem sequi amet adipisci assumenda dolore tempore suscipit perferendis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sapiente, ab pariatur libero et non aliquam quidem maiores similique corrupti ipsa, quaerat, dolorum modi dolores facere? Labore corporis vero officia.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero laudantium labore, aperiam nostrum blanditiis rerum perferendis nulla? Saepe nulla nesciunt maiores rerum corporis fugiat rem inventore obcaecati doloribus? Iure?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam magnam dicta, libero reprehenderit asperiores at vero eaque accusantium dolore iste ducimus natus delectus nostrum possimus minus nobis, dolores odit laboriosam.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odio non possimus, maiores ut est vitae quisquam atque inventore, quia facere rem sequi amet adipisci assumenda dolore tempore suscipit perferendis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sapiente, ab pariatur libero et non aliquam quidem maiores similique corrupti ipsa, quaerat, dolorum modi dolores facere? Labore corporis vero officia.
                </p>
            </div>
        </div>
    </div>
</div>