{{>_navbar}}
<div id="fundo-secundario">
    <h2 class="texto-principal">Página Inicial</h2>

    <div id="area-botao">
        <a href="/create/annotation">
            <button id="criar" class="btn btn-success">
                Nova Anotação
            </button>
        </a>
    </div>

    <div id="area-botao">
        <a href="/list/annotation">
            <button id="listar" class="btn">
                Listar Anotações
            </button>
        </a>
    </div>
</div>