{{>_navbar}}
<h2 class="texto_principal">Página Inicial</h2>

<div id="area-botao">
    <a href="/create/annotation">
        <button class="btn btn-success">
            Nova Anotação
        </button>
    </a>
</div>

<div id="area-botao">
    <a href="/list/annotation">
        <button class="btn btn-primary">
            Listar Anotações
        </button>
    </a>
</div>