{{>_navbar}}

<div class="card">
    <div class="card-body">
        <h2 class="texto-principal">Visualizar Anotação</h2>
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control mb-2" disabled value="{{annotation.title}}">
                <textarea class="form-control mb-2" rows="9" placeholder="Escreva sua anotação" disabled>{{annotation.annotation}}</textarea>
                <input type="text" class="form-control mb-2" disabled value="{{annotation.date}}">
            </div>
        </div>
    </div>
</div>